.n1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
:hover>.r{
    color: aliceblue;
   
}
:hover>.n{
    background-color: gray;
}
:hover>.n2{
    background-color: rgb(255, 0, 0);
}
:hover>.n3{
    background-color: cadetblue;
}
img{
    width: 200;
}